<footer>
    <div class="row auto-width">
        <div class="col item">
            <ul>
                <li><a href="/">RoboFont</a></li>
                <li><a href="/documentation/">Documentation</a></li>
                <li><a href="/technical-specification/">Technical Specifications</a></li>
                <li><a href="/licensing/">Licensing Options</a></li>
                <li><a href="/eula/">License Agreement</a></li>
                <li><a href="/version-history/">Release Notes</a></li>
                <li><a href="/downloads/">Downloads</a></li>
                <li><a href="/badges/">Badges</a></li>
                <li>&nbsp;</li>
                <li><a href="/tags/">Tags</a></li>
            <ul>
        </ul></ul></div>
        <div class="col item">
            <ul>
                <li>Thanks to:</li>
                <li>&nbsp;</li>
                <li><a href="http://www.benkiel.com/" target="_blank">Ben Kiel</a></li>
                <li><a href="http://www.hipertipo.com/" target="_blank">Gustavo Ferreira</a></li>
                <li><a href="http://www.letterror.com" target="_blank">LettError</a></li>
                <li><a href="http://www.typesupply.com" target="_blank">Type Supply</a></li>
                <li><a href="http://unifiedfontobject.org/" target="_blank">Unified Font Object</a></li>
            </ul>
        </div>
        <div class="col item">
            <ul>
                <li><a href="http://www.robofont.com/contact">contact</a></li>
                <li>&nbsp;</li>
                <li><a href="http://twitter.com/robofonteditor" target="_blank">twitter</a></li>
                <li><a href="http://www.facebook.com/robofont" target="_blank">facebook</a></li>
                <li><a href="http://vimeo.com/robofont/" target="_blank">vimeo</a></li>
            </ul>
        </div>
        <div class="col item rightWhenBig">
            <div>
                <div>
                    <a class="buy-button" href="https://static.typemytype.com/robofont/RoboFont.dmg">download</a>
                </div>
                <div>
                    <a class="buy-button" href="{{ site.purchaselink }}">buy</a>
                </div>
                <div class="icon">
                    ⬤
                </div>
            </div>
        </div>
    </div>
    <div class="row item">
        © Copyright <script>document.write(new Date().getFullYear())</script> <a href="http://www.typemytype.com" target="_blank">TypeMyType</a>
    </div>
</footer>
